  #especialidades {
    padding: 5px;
    margin-top: 3px;
  }

  #especialidades h2 {
    font-size: 20px;
    text-align: center;
    color: green;
    font-family: "Georgia", serif;
    margin: px 5px;
    border-bottom: 2px solid green;
    padding-bottom: 5px;
  }

  #especialidades dl {
    margin: 0;
  }

  #especialidades dt {
    font-weight: bold;
    font-size: 15px;
    color: #b03a2e;
    margin: 5px 0px;
    font-family: "Verdana", sans-serif;
  }

  #especialidades dd {
    margin-left: 1px;
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
  }

.curanto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.curanto img {
  max-width: 300px;
  width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.curanto img:hover {
  transform: scale(1.05);
}