header {
    background-color: whitesmoke;
    padding: 5px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  header h1 {
    font-size: 40px;
    color: #000;
    margin: 5px;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
  }

  .menu-principal ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    gap: 1rem;
  }

  .menu-principal li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .menu-principal li a:hover {
    background-color: #ddd;
    border-radius: 5px;
  }

  @media (max-width: 768px) {

    header h1 {
      font-size: x-large;
      text-align: center;
  }
    .menu-principal ul {
      flex-direction: column;
      align-items: stretch;
    }

    .menu-principal li a {
      text-align: center;
      width: 100%;
    }
}


  header {
    padding: 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
  }

  .encabezado-contenido {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
  }

  main {
    background-color: whitesmoke;
    padding: 1px;
    margin-bottom: 1px;
    border: 2px #050505;
  }

  h1,
  h2,
  h3 {
    font-family: "Georgia", serif;
    color: #2c3e50;
    margin-bottom: 1px;
  }

  p {
    font-size: 16px;
    color: #333;
    margin-bottom: 1px;
  }

  footer {
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
  }
  

  @media print {
    body {
      background-color: white;
      color: black;
    }

    a {
      color: black;
      text-decoration: underline;
    }

    .no-print {
      display: none;
    }
  }

}