#plato-semana {
  padding: 5px;
  margin-top: 3px;
}

#plato-semana h2 {
  font-size: 20px;
  text-align: center;
  color: green;
  font-family: "Georgia", serif;
  margin: px 5px;
  border-bottom: 2px solid green;
  padding-bottom: 5px;
}

#plato-semana p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-family: "Verdana", sans-serif;
  text-align: justify;
  margin-bottom: 15px;
}

/* Contenedor de la galería */
.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.imagenes img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.imagenes img:hover {
  transform: scale(1.05);     /* Efecto de zoom suave */
}

#plato-semana audio {
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
}

#plato-semana a {
  color: #2980b9;
  text-decoration: none;
  font-weight: bold;
}

#plato-semana a:hover {
  text-decoration: underline;
}