body {
  font-family: "Arial", sans-serif;
  color: #444444;
}

/* Estilos para la sección "Quienes somos" */
#quienes-somos {
  padding: 1px;
  margin-top: 1px;
}

#quienes-somos h2 {
    margin: 0; /* Elimina todos los márgenes */
    text-align: center;
    color: #c0392b;
    font-family: "Georgia", serif;
    font-size: 28px;
}

#quienes-somos p {
  color: #333333;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}