.lomo-probre {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.lomo-probre img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
    #promociones h2 {
        font-size: 20px;
        text-align: center;
        color: green;
        font-family: "Georgia", serif;
        margin: px 5px;
        border-bottom: 2px solid green;
        padding-bottom: 5px;
    }

    #promociones ul {
        list-style-type: square;
        padding: 15px;
        border-radius: 10px;
        margin: 0 auto;
    }

    #promociones li {
        font-family: 'Verdana', sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
        color: #333;
    }

    .lomo-probre {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 20px 0;
    }

    .lomo-probre img {
        width: 80%;
        height: auto;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
}